.root {
    -fx-font-family: sans-serif;
    -fx-font-size: 13px;
    -fx-background-color: #434B4C;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.separator > .line {
    /*-fx-background-color: #A3D9FF;*/
    -fx-border-color: #A3D9FF;
    -fx-border-width: 0.5;
}

.button, .toggle-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #434B4C;
    -fx-background-radius: 0;
    -fx-border-color: #A3D9FF;
    -fx-border-width: 0.5;
}

.tab-pane, .tab, .tab-label{
    -fx-text-fill: #ffffff;
    -fx-background-color: #434B4C;
    -fx-background-radius: 0;
}

.tab {
    -fx-border-width: 1 1 0 1;
}

.tab-header-background, .menu, .menu-bar, .menu-item {
    -fx-background-color: #434B4C;
}

.button:hover, .menu:hover, .menu-item:hover, .toggle-button:hover {
    -fx-background-color: #A3D9FF;
}

.button:pressed {
    -fx-background-color: #D6EEFF;
}

.toggle-button:selected {
    -fx-background-color: #D6EEFF;
    -fx-text-fill: #434B4C;
}

.tab:selected, .tab:focused {
    -fx-border-color: #A3D9FF;
    -fx-border-width: 1 1 0 1;
    -fx-focus-color: transparent;
}

.tree-cell, .list-cell, .list-view, #messageVbox {
    -fx-background-color: #434B4C;
    -fx-text-fill: #ffffff;
}

.list-cell {
    -fx-border-color: #A3D9FF;
    -fx-border-width: 1 0 1 0;
}

.list-cell:focused, .list-cell:selected{
    -fx-background-color: #A3D9FF;
}

.label {
    -fx-text-fill: #ffffff;
}

.scroll-bar {
    -fx-background-color: #434B4C;
}

.thumb {
    -fx-background-color: #738182;
}

.split-pane, .split-pane-divider {
    -fx-background-color: #738182;
    -fx-border-color: #738182;
}

.tab:selected > .headers-region > .tab-content-area {
    -fx-border-width: 0;
}

.tab:hover > .tab-container > .tab-label, .tab:hover, .tree-cell:hover, .tree-cell:selected {
    -fx-background-color: #A3D9FF;
}

.radio-button, .text, #text {
    -fx-text-fill: #ffffff;
}

/*
.radio-button:selected > .radio > .dot {
    -fx-background-color: #A3D9FF;
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.radio-button > .radio{
    -fx-background-color: #434B4C;
    -fx-border-color: #A3D9FF;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}*/

.importance {
    -fx-text-fill: #ff3639;
    -fx-font-size: 25px;
}
